.be-server-card {
    margin-bottom: 10px;
}

.be-server-card .be-server-icon {
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin: 0;
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    background: #2f3136;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    background-clip: padding-box;
    position: relative;
    background-color: none;
    background-position: 50%;
}

.be-emoji-container-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.be-emoji-container-wrapper .container-title {
    flex: 0;
}

.be-emoji-container-wrapper .be-emoji-container {
    flex: 1;
}

.be-emoji-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.be-emoji-item {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2px 0 2px 4px;
    cursor: pointer;
    transition: opacity .3s;
}

.be-accordion-data .container {
    display: flex;
}

.be-accordion-data .container .enabled-emoji-container {
    width: 322px;
}

.be-accordion-data .container .disabled-emoji-container {
    width: 100%;
}

.be-accordion-data .container .container-title {
    text-align: center;
    width: 100%;
}

.be-emoji-container .be-emoji-faded {
    opacity: 0.3;
}

.tools .be-emoji-toggle {
    margin-top: 150px;
		font-size: 10px;
}

.tools .be-emoji-toggle > .be-emoji-toggle-title {
    margin-top: 38px;
    position: absolute;
    width: auto;
}

.tools .be-emoji-toggle.be-button-enabled {
    content: 'BBTV'; 
}

.uk-sortable-drag .be-accordion-data {
    display: none;
}

/* https://github.com/viduthalai1947/loaderskit/blob/gh-pages/css/main.css */
.be-emoji-loading-spinner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,.5);
    box-shadow: -14px 0px 0px rgba(0,0,0,0.7);
    border-radius: 50%;
    animation: circle_classic 1s ease-in-out infinite alternate;
}

@keyframes circle_classic {
    0%{ opacity: 0.1; transform: rotate(0deg) scale(0.5);}
   100%{opacity: 1; transform: rotate(360deg) scale(1.2);}
}

/* ========================================================================
   Component: Sortable
 ========================================================================== */
.uk-sortable {
  position: relative;
}
/*
 * Deactivate browser touch actions in IE11
 */
.uk-sortable > * {
  touch-action: none;
}
/*
 * Deactivate pointer-events on SVGs in Safari
 */
.uk-sortable svg {
  pointer-events: none;
}
/*
 * Remove margin from the last-child
 */
.uk-sortable > :last-child {
  margin-bottom: 0;
}
/* Drag
 ========================================================================== */
.uk-sortable-drag {
  position: absolute !important;
  z-index: 1050 !important;
  pointer-events: none;
}
/* Placeholder
 ========================================================================== */
.uk-sortable-placeholder {
  opacity: 0;
}
/* Empty modifier
 ========================================================================== */
.uk-sortable-empty {
  min-height: 50px;
}
/* Handle
 ========================================================================== */
/* Hover */
.uk-sortable-handle:hover {
  cursor: move;
}

/* ========================================================================
   Component: Tooltip
 ========================================================================== */
/*
 * 1. Hide by default
 * 2. Position
 * 3. Dimensions
 * 4. Style
 * 5. Animation
 */
.uk-tooltip {
  /* 1 */
  /* display: none; */
  opacity: 0;
  /* 2 */
  position: absolute;
  z-index: 1030;
  /* 3 */
  box-sizing: border-box;
  max-width: 200px;
  padding: 3px 6px;
  /* 4 */
  background: #666;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  /* 5 */
  transition: opacity .15s linear;
}
/* Show */
.uk-tooltip.uk-active {
  /* display: block; */
  opacity: 1;
}
/* Direction / Alignment modifiers
 ========================================================================== */
/* Direction */
[class*='uk-tooltip-top'] {
  margin-top: -10px;
}
[class*='uk-tooltip-bottom'] {
  margin-top: 10px;
}
[class*='uk-tooltip-left'] {
  margin-left: -10px;
}
[class*='uk-tooltip-right'] {
  margin-left: 10px;
}